:root {
  /* Colors: */
  --main-color: rgb(206, 239, 206);
  --second-color: rgb(123, 132, 123);
  --third-color: #1698CB;
  --hover-color: rgb(55, 77, 55);
  --purple-color: #886cae;
  --grey-color: rgb(89, 88, 88);

  /* Fonts: */
  --heading-font: "Great Vibes", cursive;
  --main-font: "Playfair Display", serif;

  /* Padding and margin spaces: */
  --space-xxs: 0.5rem;
  --space-xs: 1rem;
  --space-xs2: 2rem;
  --space-s: 3rem;
  --space-m: 4rem;
  --space-l: 5rem;
  --space-xl: 6rem;
  --space-xxl: 7rem;
  --space-xxxl: 9rem;

  /* Font sizes: */
  --size-xs: 1.3rem;
  --size-s: 1.5rem;
  --size-s2: 1.8rem;
  --size-m: 2rem;
  --size-l: 2.5rem;
  --size-xl: 3rem;
  --size-xxl: 3.6rem;
  --size-xxxl: 4rem;
}

body, html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  overflow-x: hidden;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}



