

/* OBECNÁ NASTAVENÍ */
.outerBox {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.innerBox {
  padding-top: calc(var(--space-s) * 5);
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
  padding-bottom: var(--space-xxxl);
  height: 100%;
}

.innerBox h2 {
  margin: 0;
}

/* NAVBAR */
/* nav {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) var(--space-m);
  box-sizing: border-box;
  margin: 0;
}

nav .navLink {
  text-decoration: none;
  font-family: var(--main-font);
  letter-spacing: 2px;
  font-size: var(--size-m);
  padding: var(--space-xxs) var(--space-s);
  color: white;
}

nav .navLink:hover {
  cursor: pointer;
  color: var(--hover-color);
}

nav a.active{
  color:var(--hover-color);
  background-color: var(--main-color);
  border-radius: 16px;
}

#homeLink {
  color:var(--main-color);
  background-color: transparent;
  border-radius: 16px;
} */

/* NAVBAR */
nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) var(--space-m);
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-family: var(--main-font);
  letter-spacing: 2px;
  font-size: var(--size-m);
  padding: var(--space-xxs) var(--space-s);
  color: white;
}

.navLink:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.navLink.active {
  color: var(--hover-color);
  background-color: var(--main-color);
  border-radius: 16px;
}

#homeLink {
  color: var(--main-color);
  background-color: transparent;
  border-radius: 16px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 35px;
  background-color: var(--main-color);
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

/* Přechod hamburgeru na křížek */
.nav.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
}

.nav.open .bar:nth-child(2) {
  opacity: 0;
}

.nav.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
}





/* HOME SECTION */
.landingPage {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/landingImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin: 0;
}

.home {
  padding-top: var(--space-xxl);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.home span {
  font-family: var(--heading-font);
  font-size: calc(var(--size-l) * 2);
  color: white;
  margin-top: var(--space-xl);
  word-spacing: 10px;
  letter-spacing: 3px;
}

.home h1 {
  font-family: var(--main-font);
  font-size: calc(var(--size-s) * 3);
  font-weight: 300;
  color: white;
  letter-spacing: 6px;
  margin-top: var(--space-xs);
}



/* KDY A KDE */
.place {
  background-color: var(--second-color);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.place h2 {
  color: var(--main-color);
  font-size: var(--size-l);
  font-family: var(--main-font);
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: var(--space-xs2);
}

.line {
  width: 30%;
  height: 2px;
  background-color: var(--hover-color);
  margin-bottom: var(--space-m);
}

.line2 {
  width: 3px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 20px;
}

.place p {
  color: white;
  font-size: var(--size-s2);
  margin: var(--space-xxs) 0;
  font-family: var(--main-font);
  letter-spacing: 1.5px;
}

.placeColumn,
.timeColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 40%;
  text-align: center;
}

#map {
  width: 500px;
  height: auto;
  margin-top: var(--space-m);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}

.mapLink:hover {
  cursor: pointer;
}

.timeColumn h3 {
  font-family: var(--heading-font);
  font-size: var(--size-l);
  font-weight: 300;
  color: white;
  margin-top: 0;
  letter-spacing: 1.5px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.card h4 {
  font-family: var(--main-font);
  font-size: var(--size-s2);
  margin-top: var(--space-xs);
  margin-bottom: 0;
  color: white;
}

.card img {
  width: 80px;
  height: auto;
}

.prijezd,
.obed,
.zabava {
  justify-content: start;
}

.obrad,
.krajeni,
.afterparty {
  justify-content: end;
}

.popis {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.prijezd .popis,
.obed .popis,
.zabava .popis {
  align-items: start;
}

.obrad .popis,
.krajeni .popis,
.afterparty .popis {
  align-items: end;
}

.prijezd img,
.obed img,
.zabava img {
  margin-right: var(--space-xs);
}

.obrad img,
.krajeni img,
.afterparty img {
  margin-left: var(--space-xs);
}

.prijezd p,
.obed p,
.zabava p {
  text-align: left;
}

.obrad p,
.krajeni p,
.afterparty p {
  text-align: right;
}

/* ABOUT - OUR STORY */
.about {
  background-color: var(--second-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: var(--space-xxxl);
}

.storyHeader {
  width: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-s);
}

#leaves {
  width: 20rem;
  height: auto;
}

.storyHeader h3 {
  position: absolute;
  top: 43%;
  left: 26%;
  font-family: var(--heading-font);
  font-size: var(--size-xl);
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

.timeline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-top: var(--space-xxl);
}

.timeline .leftColumn,
.timeline .rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.timeline .leftColumn {
  align-items: end;
  padding-right: var(--space-s);
}

.timeline .rightColumn {
  align-items: start;
  padding-left: var(--space-s);
}

.year,
.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin-bottom: var(--space-s);
}

.year p {
  font-size: calc(var(--size-m) * 2);
  color: white;
  font-family: var(--heading-font);
  letter-spacing: 2px;
  margin: 0;
}

.story p {
  font-size: var(--size-s2);
  color: white;
  font-family: var(--main-font);
  letter-spacing: 1.5px;
  margin: 0;
}

.timelineLine {
  width: 3px;
  height: 60rem;
  background-color: var(--main-color);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: var(--space-xs2);
}

.heartEmoji {
  font-size: var(--size-xxl) !important;
  color: var(--main-color);
  margin-bottom: 7.5rem;
}
.relativeDiv {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

#brideImg,
#groomImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 50px;
  border: 2px solid var(--main-color);
}

#groomImg {
  margin-right: var(--space-l);
}

#brideImg {
  margin-left: var(--space-l);
}

/* #groomImg {
  left: 5rem;
  top: 3rem;
}

#brideImg {
  right: 5rem;
  top: 3rem;
} */

.petrLucie {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xl);
}

.petr {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: var(--space-xl);
}

.lucie {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}

.petr .omne {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.lucie .omne {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}


.omne h3 {
  font-size: var(--size-xxxl);
  color: var(--main-color);
  font-family: var(--heading-font);
  letter-spacing: 4px;
  margin-top: var(--space-xs);
  margin-bottom: 0;
}

.omne p {
  font-size: var(--size-m);
  font-family: var(--main-font);
  color: white;
  letter-spacing: 2px;
  width: 100%;
}

.lucie .omne p {
  text-align: right;
}

/* ČASTÉ OTÁZKY */
.qanda {
  background-color: var(--second-color);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: calc(var(--space-l) * 3);
  box-sizing: border-box;
}

.faqBox {
  width: 80%;
}

.qanda .left,
.qanda .right {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.qanda .left {
  justify-content: start;
}

.qanda .right {
  justify-content: end;
}

.faq {
  margin-bottom: var(--space-xxl);
}

.faq h4 {
  font-size: calc(var(--size-l) * 5);
  font-family: var(--heading-font);
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70%;
  position: relative;
}

.left .answer {
  align-items: start;
  margin-top: var(--space-xs2);
  margin-left: var(--space-l);
}

.right .answer {
  align-items: end;
  margin-top: var(--space-xs2);
  margin-right: var(--space-l);
}

.answer h5 {
  margin: 0;
  font-size: var(--size-l);
  font-family: var(--main-font);
  font-weight: 300;
  color: var(--main-color);
  letter-spacing: 1.5px;
  margin-bottom: var(--space-xs);
}

.answer p {
  margin: 0;
  font-size: var(--size-m);
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
}

.right .answer p {
  text-align: right;
}

.faqLine {
  width: 20rem;
  height: 3px;
  border-radius: 30px;
  background-color: var(--hover-color);
  margin-bottom: var(--space-xs2);
}

#guests {
  position: absolute;
  width: 180px;
  right: -30%;
}

#gift {
  position: absolute;
  width: 120px;
  left: -25%;
  bottom: 0;
  transform: rotate(-10deg);
}

#alcohol2 {
  position: absolute;
  width: 150px;
  right: -25%;
}

#doves {
  position: absolute;
  width: 180px;
  left: -30%;
}

/* KONTAKT */
.contact {
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
}

.formular {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.contact p {
  font-size: var(--size-m);
  color: white;
  font-family: var(--main-font);
  text-align: center;
  width: 60%;
  margin-bottom: var(--space-l);
}

#letter {
  position: absolute;
  width: 150px;
  left: 10%;
  top: 30%;
  height: auto;
}

#letter2 {
  position: absolute;
  width: 180px;
  right: 10%;
  top: 70%;
  height: auto;
}

.copyright {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: auto;
  bottom: 0;
}

.copyright a {
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline var(--main-color);
  cursor: pointer;
}

.copyright p {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: calc(var(--size-l) / 2);
  text-align: center;
  padding: var(--space-xs) 0;
  letter-spacing: 1.5px;
}

footer {
  background-color: transparent;
}

footer p {
  margin: 0;
  color: var(--main-color);
  font-size: calc(var(--size-l) / 2);
  text-align: center;
  padding: var(--space-xs) 0;
  font-family: var(--main-font);
  letter-spacing: 1.5px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline var(--main-color);
  cursor: pointer;
}



/* RESPONSIVITY */

@media only screen and (min-width: 2000px) {

  /* HOMEPAGE */
  nav .navLink {
    font-size: var(--size-l);
  }

  .home span {
    font-size: calc(var(--size-xl) * 2);
    margin-top: calc(var(--space-l) * 2);
    margin-bottom: var(--space-s);
  }

  .home h1 {
    font-size: calc(var(--size-l) * 2);
  }

  .copyright p,
  footer p {
    font-size: var(--size-s);
  }

  /* KDY A KDE */
  .place h2 {
    font-size: var(--size-xl);
  }

  .place p {
    font-size: var(--size-m);
  }

  .timeColumn h3 {
    font-size: var(--size-xl);
  }

  .card h4 {
    font-size: var(--size-m);
  }

  /* O NÁS */
  .omne h3 {
    font-size: calc(var(--size-l) * 2);
  }

  .omne p {
    font-size: var(--size-l);
  }

  .storyHeader h3 {
    font-size: var(--size-xxl);
    top: 40%;
  }

  .year p {
    font-size: calc(var(--size-l) * 2);
  }

  .story p {
    font-size: var(--size-m);
  }

  /* FAQ */
  .faq {
    margin-bottom: var(--space-xxxl);
  }

  .faq h4 {
    font-size: calc(var(--size-m) * 7);
  }

  .answer h5 {
    font-size: var(--size-xl);
  }

  .answer p {
    font-size: var(--size-l);
  }

  /* KONTAKT */
  .contact p {
    font-size: var(--size-l);
  }

  #letter {
    left: 20%;
  }

  #letter2 {
    right: 20%;
  }
}

@media only screen and (min-width: 3000px) {

  /* HOMEPAGE */
  nav .navLink {
    font-size: var(--size-xl);
  }

  .home span {
    font-size: calc(var(--size-xl) * 3);
    margin-top: calc(var(--space-l) * 3);
  }

  .home h1 {
    font-size: calc(var(--size-xl) * 2);
  }

  .copyright p,
  footer p {
    font-size: var(--size-s2);
  }

  /* KDY A KDE */
  .place h2 {
    font-size: var(--size-xxl);
  }

  .place p {
    font-size: var(--size-l);
  }

  .timeColumn h3 {
    font-size: var(--size-xxl);
  }

  .card h4 {
    font-size: var(--size-l);
  }

  /* O NÁS */
  .omne h3 {
    font-size: calc(var(--size-xl) * 2);
  }

  .omne p {
    font-size: var(--size-xl);
  }

  .storyHeader h3 {
    font-size: var(--size-xxxl);
    left: 21%;
  }

  .year p {
    font-size: calc(var(--size-xl) * 2);
  }

  .story p {
    font-size: var(--size-l);
  }

  /* FAQ */
  .faq {
    margin-bottom: calc(var(--space-l) * 2);
  }

  .faq h4 {
    font-size: calc(var(--size-xl) * 5);
  }

  .answer h5 {
    font-size: var(--size-xxl);
  }

  .answer p {
    font-size: var(--size-xl);
  }

  /* KONTAKT */
  .contact p {
    font-size: var(--size-xl);
  }

  #letter {
    left: 30%;
  }

  #letter2 {
    right: 30%;
  }
}


@media only screen and (max-width: 1400px) {
  /* KDY A KDE */
  .place {
    flex-direction: column;
    align-items: center;
  }

  .placeColumn {
    margin-bottom: calc(var(--space-l) * 2);
    width: 80%;
  }

  .timeColumn {
    width: 80%;
  }

  /* STORY */
  .petr,
  .lucie {
    width: 90%;
  }

  /* FAQ */
  .faqBox {
    width: 90%;
  }

  .answer p {
    width: 90%;
  }

  #guests,
  #gift,
  #alcohol2,
  #doves {
    display: none;
  }

  /* KONTAKT */
  #letter {
    left: 0;
  }

  #letter2 {
    right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  /* FAQ */


  /* CONTACT */
  #letter {
    width: 120px;
  }
  
  #letter2 {
    width: 130px;
  }
}

@media only screen and (max-width: 1100px) {
  /* CONTACT */
  .contact.innerBox {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }
}


@media only screen and (max-width: 1000px) {
  /* NAVBAR */
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust according to your design */
    right: 0;
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-top: var(--space-s);
    z-index: 1;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  .nav.open .nav-links {
    display: flex;
  }

  .navLink {
    margin-bottom: var(--space-xxs);
    color: var(--second-color);
  }

  .hamburger {
    display: flex;
  }
  
  .nav-links.show {
    display: flex;
  }

  #homeLink {
    color: var(--second-color);
  }

  /* KDY A KDE */
  .placeColumn,
  .timeColumn {
    width: 90%;
  }

  .card {
    width: 100%;
  }

  /* FAQ */
  .faq h4 {
    margin-right: var(--space-xs);
    width: 100px;
    order: -1;
  }

  .qanda .right {
    justify-content: start;
  }

  .right .answer {
    align-items: start;
    margin-left: var(--space-l);
    margin-right: 0;
  }

  .right .answer p {
    text-align: left;
  }

  .answer p {
    width: 100%;
  }

  .faqLine {
    width: 18rem;
  }
}

@media only screen and (max-width: 900px) {
  /* CONTACT */
  #letter,
  #letter2 {
    display: none;
  }

  .contact p {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  /* NAVBAR */
  .navLink {
    font-size: var(--size-s2);
  }

  /* HOME */
  .home span {
    font-size: calc(var(--size-m) * 2);
  }

  .home h1 {
    font-size: calc(var(--size-s) * 2);
  }

  /* OUR STORY */
  .about.innerBox {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }

  .petrLucie {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: var(--space-s);
  }

  .petr,
  .lucie {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .petr .omne,
  .lucie .omne {
    align-items: center;
  }

  .lucie .omne p,
  .petr .omne p {
    text-align: center;
  }

  .petr {
    margin: 0;
    margin-right: var(--space-s);
  }

  .lucie {
    margin-left: var(--space-s);
  }

  #groomImg,
  #brideImg {
    margin: 0;
    margin-bottom: var(--space-s);
  }

  #brideImg {
    order: -1;
  }

  .timeline .leftColumn {
    margin-left: 0;
  }

  .timeline .rightColumn {
    margin-right: 0;
  }

  .leftColumn .story {
    text-align: right;
  }

  .omne p {
    font-size: var(--size-s2);
  }

  /* FAQ */
  .qanda.innerBox {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }

  .faq h4 {
    font-size: calc(var(--size-l) * 4);
    width: 70px;
  }

  .answer h5 {
    font-size: var(--size-m);
  }

  .answer p {
    font-size: var(--size-s2);
  }

  .faqLine {
    width: 15rem;
  }
}

@media only screen and (max-width: 700px) {
  /* KDY A KDE */
  .placeColumn,
  .timeColumn {
    width: 100%;
  }

  /* FAQ */
  .qanda .left,
  .qanda .right {
    flex-direction: column;
  }

  .left .answer,
  .right .answer {
    margin-left: 0;
    margin-top: 0;
  }

  .answer {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  /* KDY A KDE */
  .place.innerBox {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    padding-bottom: var(--space-xl);
  }

  .place h2,
  .time h2 {
    font-size: var(--size-m);
  }

  .place p,
  .time p,
  .card h4 {
    font-size: var(--size-s);
  }

  .card img {
    width: 60px;
  }

  #map {
    width: 400px;
  }

  /* OUR STORY */
  .petrLucie {
    display: none;
  }

  .timeline .leftColumn {
    margin-right: var(--space-s);
  }

  .timeline .rightColumn {
    margin-left: var(--space-s);
  }

  .about.innerBox {
    padding-bottom: var(--space-l);
  }

  /* FAQ */
  .qanda.innerBox {
    padding-bottom: var(--space-s);
  }

  /* KONTAKT */
  .contact p {
    font-size: var(--size-s2);
  }
  
  .contact.innerBox {
    padding-bottom: var(--space-xl);
  }
}

@media only screen and (max-width: 500px) {
  /* KDY A KDE */
  .place.innerBox {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }

  .card {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .prijezd .popis,
  .obed .popis,
  .zabava .popis,
  .obrad .popis,
  .krajeni .popis,
  .afterparty .popis{
    align-items: center;
  }

  .obrad img,
  .krajeni img,
  .afterparty img {
    order: -1;
  }

  .prijezd img,
  .obed img,
  .zabava img,
  .obrad img,
  .krajeni img,
  .afterparty img {
    margin: 0;
    margin-top: var(--space-xs);
  }

  .card p {
    margin-bottom: var(--space-xs);
  }

  .card p,
  .card h4 {
    text-align: center;
  }

  #map {
    width: 350px;
  }

  /* OUR STORY */
  .about.innerBox {
    padding-left: var(--space-xs2);
    padding-right: var(--space-xs2);
  }

  #leaves {
    width: 15rem;
  }

  .storyHeader h3 {
    font-size: var(--size-l);
    left: 30%;
    top: 40%;
  }

  .timeline {
    margin-top: var(--space-l);
  }

  .timeline .leftColumn {
    margin-right: var(--space-xs);
  }

  .timeline .rightColumn {
    margin-left: var(--space-xs);
  }

  .story p {
    font-size: var(--size-s);
  }

  .year p {
    font-size: var(--size-xxl);
  }

  /* KONTAKT */
  .contact p {
    width: 90%;
  }
}


@media only screen and (max-width: 400px) {
   /* NAVBAR */
   .navLink {
    font-size: var(--size-s);
  }

  /* HOME */
  .home span {
    font-size: calc(var(--size-s) * 2);
  }

  .home h1 {
    font-size: var(--size-l);
  }

  .copyright p {
    font-size: calc(var(--size-m) / 2);
  }

  /* KDY A KDE */
  .place.innerBox {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
  }

  .placeColumn {
    margin-bottom: var(--space-xxl);
  }

  #map {
    width: 280px;
  }

  /* FAQ */
  .qanda.innerBox {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }

  .faq h4 {
    font-size: calc(var(--size-xxxl) * 2);
  }
  
  .faqLine {
    width: 12rem;
  }

  /* KONTAKT */
  .contact p {
    font-size: var(--size-s);
    width: 100%;
  }
}

@media only screen and (max-width: 330px) {
  /* HOME */
  .home span {
    font-size: var(--size-l);
    text-align: center;
  }

  .home h1 {
    font-size: var(--size-m);
    text-align: center;
  }

  /* KDY A KDE  */
  #map {
    width: 250px;
  }

  /* FAQ */
  .faqLine {
    width: 10rem;
  }
}