

/* NAVBAR */
nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) var(--space-m);
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  font-family: var(--main-font);
  letter-spacing: 2px;
  font-size: var(--size-m);
  padding: var(--space-xxs) var(--space-s);
  color: white;
}

nav a:hover {
  color: rgb(55, 77, 55);
}

nav a.active{
  color:rgb(55, 77, 55);
  background-color: rgb(206, 239, 206);
  border-radius: 16px;
}



/* HOME SECTION */
.landingPage {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/landingImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  margin: 0;
}

.home {
  padding-top: var(--space-xxl);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.home span {
  font-family: var(--heading-font);
  font-size: var(--size-xxxl);
  color: white;
  margin-top: var(--space-xl);
  word-spacing: 10px;
  letter-spacing: 3px;
}

.home h1 {
  font-family: var(--main-font);
  font-size: calc(var(--size-xl) * 2);
  font-weight: 300;
  color: white;
  letter-spacing: 6px;
  margin-top: var(--space-xs);
}

